
  <h1>Fill out the Form to Create your character</h1>
    <form method="POST" action='/create'>
        <label>Name:</label>
        <br/>
        <input type="text" name="name">
        <br/>
        <label>Class:</label>
        <br/>
        <input type="text" name="klass">
        <br/>
        <label>Strength:</label>
        <br/>
        <input type="text" name="strength">
        <br/>
        <label>Dexterity:</label>
        <br/>
        <input type="text" name="dexterity">
        <br/>
        <label>Constitution:</label>
        <br/>
        <input type="text" name="constitution">
        <br/>
        <label>Intelligence:</label>
        <br/>
        <input type="text" name="intelligence">
        <br/>
        <label>Wisdom:</label>
        <br/>
        <input type="text" name="wisdom">
        <br/>
        <label>Charisma:</label>
        <br/>
        <input type="text" name="charisma">
        <br/>
        <input type="submit" value="Create">
    </form>

