<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>Welcome DnD Character Creater and Tracker</h1>
  <h4>Please log in or sign up to access your account</h4>
  
    <h1>Log In Below:</h1>
    <form method="POST" action='/login'>
        <label>Email:</label>
        <br/>
        <input type="text" name="email">
        <br/>
        <label>Password:</label>
        <br/>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>
<a href="/signup">Sign Up</a>
</body>

</html>